@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: anzo1;
  src: url(./assets/file.woff2);
}
@font-face{
  font-family: anzo0;
  src: url(./assets/madefor-text.var.original.woff2 );
}
@font-face{
  font-family: anzo3;
  src: url(./assets/file0.woff2);
}
@font-face{
  font-family: anzo4;
  src: url(./assets/file1.woff2 );
}
@font-face{
  font-family: anzo2;
  src: url(./assets/file2.woff2);
}
@font-face{
  font-family: anzo6;
  src: url(./assets/file3.woff2 );
}


*{
  margin: 0;
  padding: 0;
  color: #fff;
}
body{
  overflow-x: hidden;
}
#page-in{
  position: relative;
  perspective: 2000px;
}
.section2 {
  position: relative;
  perspective: 3000px;
}
#tiltdiv{
 width: fit-content;
}
.page2rotatetext{
  transform-origin: 100% 70%;
}
.section3 {
  position: relative;
  perspective: 3000px;
}
#tiltdiv{
 width: fit-content;
}
.page5rotatetext{
  transform-origin: 100% 70%;
}
#bgimg{
  transform-origin: 50% 60%;
}
#astoman{
  
  perspective: 3000px;
}
